#iw-trending-container {
  padding: 1rem;
}

#iw-trending-container a {
  display: none;
  color: rgb(77, 25, 121);
}

#iw-trending-container a:hover {
  color: rgb(38, 8, 89);
  text-decoration: underline;
}
