#iw-trending fieldset {
  border: 1px solid #c3c4c7;
  padding: 1rem;
  padding-top: 0;
  margin-bottom: 1rem;
}

#iw-trending fieldset legend {
  font-size: 1rem;
  font-weight: bold;
  padding: 0 0.4rem;
  margin: 0 auto;
}

#iw-trending fieldset label {
  display: inline-block;
  margin: 0.6rem 0;
}
